.container-progress {
  width: fit-content;
  height: fit-content;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
}

svg {
  position: relative;
  width: 110px;
  height: 110px;
  z-index: 1000;
}

svg circle {
  position: relative;
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 8;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 300;
  stroke: rgb(245, 0, 87);
}
.percent {
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 30px;
  transition: 0.5s;
}

.container-progress:hover .percent .number h2 {
  color: #fff;
  font-size: 50px;
}

.percent .number h2 span {
  font-size: 24px;
  color: #777;
}

.container-progress:hover .percent .number h2 span {
  color: #fff;
}

.text {
  position: relative;
  color: #777;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.container-progress:hover .text {
  color: #fff;
}
